@model IEnumerable<AspNet.DINNER.Models.Dinner>

@{
    ViewData["Title"] = "Dinner";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Predjelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlavnoJelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predjelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlavnoJelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
